{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><h1>Delete Stock</h1></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">        
{% if ticker %}
    {% for item in ticker %}
        {{ item }} - <a href="{% url 'delete' item.id %}">Delete</a><br/>
    {% endfor %}
{% else %}
    You dont have any stocks...
{% endif %}
    
    </div>
    </div>


{% endblock %}
