{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Django</h1>
                    <p class="lead">This is a simple Django site designed to demonstrate the deployment of a Django application to Heroku using a CI/CD pipeline running on CircleCI</p>
                    <hr class="my-4">
                    <p>For more CI/CD tutorials, checkout the CircleCI blog by clicking the button below</p>
                    <a class="btn btn-primary btn-lg" href="https://circleci.com/blog/" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>